﻿@using WebLibrary.Models.CatalogModels
@model PaginatedModel<ItemCatalog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="Book">New Book</a> |
    <a asp-action="Create" asp-controller="Patent">New Patent</a> |
    <a asp-action="Create" asp-controller="Newspaper">New Newspaper</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().PublicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().PageCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.CatalogItemId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CatalogItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CatalogItemId })
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @foreach (var item in Model.Paging.Buttons)
            {
                <li class="page-item @(!item.IsClickable && item.PageNumber.HasValue ? "active" : "")" >
                    @if (item.IsClickable)
                    {
                        <a asp-action="Index" asp-route-page="@item.PageNumber.Value" class="page-link">@item.PageNumber.Value</a>
                    }
                    else
                    {
                    <span class="page-link">@(item.PageNumber.HasValue ? item.PageNumber.Value.ToString() : "...")</span>
                    }
                </li>
            }
        </ul>
    </nav>
</div>
