﻿@model WebLibrary.Models.NewPatent

<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewData["FormAction"]" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageCount" class="control-label"></label>
                <input asp-for="PageCount" class="form-control" />
                <span asp-validation-for="PageCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberRegistration" class="control-label"></label>
                <input asp-for="NumberRegistration" class="form-control" />
                <span asp-validation-for="NumberRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label"></label>
                <input asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authors" class="control-label"></label>
                <select class="js-example-basic-multiple" multiple="multiple" asp-for="Authors" asp-items="Model.AvailableAuthors"></select>
                <span asp-validation-for="Authors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="createAuthor" value="Create new author" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
        @{
            if (Model.ExeptionMessage != null)
            {
                foreach (var item in Model.ExeptionMessage)
                {
                    <h6 class="text-danger">@item</h6>
                }
            }
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

