﻿@model WebLibrary.Models.NewPatent

@{
    ViewData["Title"] = "Create";
    ViewData["FormAction"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New patent</h1>

<hr />

@await Html.PartialAsync("_PatentForm", Model)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/authorSelect2.js" asp-append-version="true"></script>
    <script>
        initializeAuthorSelect2('@Url.Action("Create", "Author")');
    </script>
}
